<mat-accordion multi="true" *ngIf="plates.length > 0">
    <mat-expansion-panel *ngFor="let plate of plates">
        <mat-expansion-panel-header>
            {{plate.number}}
        </mat-expansion-panel-header>
        <p>{{plate.fname}} {{plate.lname}}</p>
        <mat-action-row>
            <button mat-raised-button>Edit</button>
            <button mat-button color="warn" (click)="onDelete(plate._id)">Remove</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="plates.length <= 0">No plates added yet!</p>
