<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <h1>Add new plate</h1>
  <form (submit)="onSavePlate(plateForm)" #plateForm="ngForm" *ngIf="!isLoading">
    <table>
      <tr>
        <!-- Plate number -->
        <td>
          <mat-form-field>
            <mat-label>Plate Number</mat-label>
            <input
              matInput
              #plateNum
              #platenumber="ngModel"
              maxlength="6"
              minlength="6"
              type="text"
              placeholder="Ex. ABC123"
              [ngModel]="plate?.number"
              required
              name="plateNumber"
              autocomplete="off"
            />
            <mat-error *ngIf="plateNum.invalid">
              Enter a valid number
              <mat-hint align="end">{{ plateNum.value.length }} / 6</mat-hint>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <!-- Plate owner name -->
      <tr>
        <td>
          <mat-form-field>
            <mat-label>First name</mat-label>
            <input 
              matInput 
              [ngModel]="plate?.fname" 
              required
              name="plateFname"
              autocomplete="off"
              #fname="ngModel" 
            />
            <mat-error *ngIf="plateNum.invalid">Name required</mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input 
              matInput 
              [ngModel]="plate?.lname" 
              required 
              name="plateLname"
              autocomplete="off" 
              #lname="ngModel"
            />
            <mat-error *ngIf="plateNum.invalid">Surrname required</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <button 
      mat-button 
      type="submit"
    >Add</button>
  </form>
</mat-card>
